.c-footer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content:space-between;
    justify-items: center;

    background-color: getColors("negro",0);
 

    &__item{
        margin: getMargin(6);
        font-family: getFontFamily("alternativo");
        color: getColors("principal", 4);
    }
}
