.c-listaCarrito{
    border:getBorderRadius(1) solid getColors("gris",1);
    border-radius:getBorderRadius(4);
    padding: getPadding(4);
    &__body{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding-top: getPadding(5);
    }
    &__item{
        display: flex;
        align-items: baseline;
        text-align: center;
        gap:20px;
        td{
            width: 200px;
        }
    }
}