@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.c-fondo-login-dialog {
	background: linear-gradient(90deg, getColors('principal', 0), getColors('principal', 3));	
    overflow: hidden; 
}

.l-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-login {		
	background: linear-gradient(90deg, getColors('principal', 6), getColors('principal', 5));		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px darkgray;
}

.l-login-tarjeta {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.l-tarjeta-background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.c-tarjeta-background {
	transform: rotate(45deg);
	position: absolute;
	&--forma1 {
		height: 520px;
		width: 520px;
		background: #FFF;	
		top: -50px;
		right: 120px;	
		border-radius: 0 72px 0 0;
	}
    &--forma2 {
        height: 220px;
        width: 220px;
        background: getColors('principal', 4);	
        top: -172px;
        right: 0;	
        border-radius: 32px;
    }
    &--forma3 {
        height: 540px;
        width: 190px;
        background: linear-gradient(270deg, getColors('principal', 7), getColors('principal', 3));
        top: -24px;
        right: 0;	
        border-radius: 32px;
    }
    &--forma4 {
        height: 400px;
        width: 200px;
        background: getColors('principal', 6);	
        top: 420px;
        right: 50px;	
        border-radius: 60px;
    }
}

.c-form {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
    &__input {
        padding: 20px 0px;	
        position: relative;	
    }
    &__icon {
        position: absolute;
        top: 30px;
        color: getColors('principal', 4);
    }
    &__text {
        border: none;
        border-bottom: 2px solid getColors('principal', 0);
        background: none;
        padding: 10px;
        padding-left: 24px;
        font-weight: 700;
        width: 75%;
        transition: .2s;
    }
    &__input:active,
    &__input:focus,
    &__input:hover {
	    outline: none;
	    border-bottom-color: getColors('principal', 5);
    }
    &__button-login {
        background: #fff;
        font-size: 14px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 1px solid getColors('principal', 0);
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 100%;
        color: getColors('principal', 5);
        box-shadow: 0px 2px 2px getColors('principal', 6);
        cursor: pointer;
        transition: .2s;
    }
    &__button-login:active,
    &__button-login:focus,
    &__button-login:hover {
	    border-color: getColors('principal', 3);
	    outline: none;
    }
    &__button-icon {
        font-size: 24px;
        margin-left: auto;
        color: getColors('principal', 6);
    }   
}

.c-social {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
    &__icon {
        padding: 20px 10px;
        color: #fff;
        text-decoration: none;	
        text-shadow: 0px 0px 8px darkgray;
    }  
    &__icon:hover {
	transform: scale(1.5);	
    }  
}

.l-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

