.c-login {		
	background: linear-gradient(90deg, getColors('principal', 6), getColors('principal', 5));		
	position: relative;	
	height: 600px;
	width: 360px;	
    box-shadow:getShadow(1);
}

.c-fondo-login-dialog {
	background: linear-gradient(90deg, getColors('principal', 0), getColors('principal', 5));	
    overflow: hidden; 
}