.c-nav {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: getColors("principal", 5);
    

    &__item {
        padding: getPadding(7);

        &--derecha {
            margin-left: auto;
        }
        &:hover{
            background-color: getColors("principal", 2);
        }
    }

    &__logo {
        width: 75px;
    }

}