.c-paymentform {
    background-color: getColors("blanco",3);
    border-radius:getBorderRadius(8);
    height: 812px;
    box-shadow: getShadow(0);
    width: 975px;
    padding: getPadding(9);

    &__header{
      text-align: center;
      padding: getPadding(6);
    }
    
    &__title{
      font-weight: getFontWeight("3xl");
      padding: getPadding(0);
    }

    &__address{
      border-radius:getBorderRadius(5);
      background-color: getColors("principal",4);
      color:getColors("gris",0);
      padding: getPadding(6);
    }
}