.l-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.l-login-tarjeta {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.l-tarjeta-background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.l-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

