.c-nav{
  display:none;
  position: fixed;
}
.c-nav li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}



.c-nav li a:hover {
  background-color: rgb(241 245 249);
}


.c-nav li:hover > ul {
  display: relative;
}